* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-family);
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
  font-style: normal;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

:root {
  --font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  height: 100vh;
  color: #fff;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.add-todo {
  margin: 40px 0;
}

.add-todo__input {
  width: 100%;
  font-size: 50px;
  padding: 15px 15px 15px 0px;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.add-todo__error {
  margin-top: 10px;
  color: #822135;
}

.todo {
  margin-top: 20px;
  font-size: 30px;
  border: 0.5px solid #EE794A;
  padding: 15px;
  cursor: pointer;
}

.todo-active--false {
  text-decoration: line-through;
  color: #757575;
}

.todo-active--true {
  text-decoration: none;
}